body {
    background-color: hsl(220, 8%, 15%);
    color: white;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    border: 1px solid green;
}

.inner-wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid yellow;
}

.outer-wrapper nav {
    height: 80px;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid red;
}
.outer-wrapper nav  ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.message-box-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 24px;
    margin: 12px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    max-height: 492px;
    overflow: hidden;
}