* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Tahoma", "sans-serif";
    scrollbar-width: thin;
    scrollbar-color: transparent;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid transparent;
}
:root {
    --warning: hsl(50, 99%, 47%);
    --ok: hsl(97, 100%, 29%);
    --error: hsl(3, 83%, 52%);
    --action: hsl(0, 0%, 0%);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}